<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>페이지 이름</title>
</head>

<main layout:fragment="main">
    <div class="con flex">
        <div class="flex">
            <div th:if="${productList.size() == 0}" class="con h-96 flex justify-center items-center text-lg">
                현재 상품이 존재하지 않습니다.
            </div>
            <div th:if="${productList.size() != 0}" class="flex flex-wrap">
                <div th:each="product : ${productList}" class="w-[calc(25%)]">
                    <div class="h-auto p-5 box-border mt-2.5 ">
                        <a th:href="'/product/detail?id='+${product.id}">
                            <img th:src="'/product_image/'+${product.title}+'/'+${product.mainImage}" alt="옷"
                                 class="product_img3">
                            <div class="whitespace-normal overflow-ellipsis text-lg">[[${product.title}]]
                            </div>
                            <div class="mt-1 tracking-tighter price whitespace-normal">
                                <strong class="text-xl font-bold text-red-500">[[${product.discount}]]%</strong>
                                <em class="text-xl font-bold line-through">[[${product.price}]]</em>
                                <em class="text-xl font-bold">39,500</em>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</html>